table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
padding: 5px 2px;
text-align: center;
border: 1px solid rgb(15, 105, 3);
}

table tr:nth-child(even) {
  border: 1px solid rgb(3, 47, 105);
}
