p {
  margin-top: -3px;
  color: white;
  font-size: 12px;
}

.LogOut{
  vertical-align: middle;
  width: 120px;
  margin-left: 5px;
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 220px;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}
.highlight {
  color: yellow;
}



.right {
  text-align: right;
  position: relative;
  z-index: 10000;
}

.left {
  display: flex;
  white-space: nowrap;
  width: 100vw;
  font-size: 15px;
  animation: moveRight 30s infinite linear;
}

@keyframes moveRight {
  0% {
    transform: translateX(85%);
  }
  100% {
    transform: translateX(-95%);
  }
}

@media (max-width: 768px) {
  .left {
    width: 100vw;
    animation: moveRight 15s infinite linear;
  }
  @keyframes moveRight {
    0% {
      transform: translateX(105%);
    }
    100% {
      transform: translateX(-205vw);
    }
  }
}