body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./img/newFondo.webp) top center / cover
    /* position / size */ no-repeat /* repeat */ fixed /* attachment */
    padding-box /* origin */ content-box; /* clip */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/**/
#nombreUser2 {
  color: rgb(0, 60, 151);
  font-size: 1.5vh;
  text-shadow: #000000 0 0 2px;
}
#nombreUser3 {
  color: rgb(255, 102, 0);
  font-size: 2.5vh;
  text-shadow: #000000 0 0 2px;
}

/* Estilos para p ayuda */
.ayuda {
  color: #000;
  font-size: 1.2vh;
}

/* Estilos para el overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la ventana emergente */
.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 1050px;
  text-align: center;
  position: relative;
}

/* Estilos para el botón de cierre */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* Estilos para adaptarse a pantallas más pequeñas */
@media (max-width: 768px) {
  .popup {
    width: 90%;
  }
  .ayuda {
    font-size: 1.8vh;
  }
  #nombreUser2 {
    font-size: 1.5vh;
  }
  #nombreUser3 {
    font-size: 2.5vh;
  }
}

@media (max-width: 480px) {
  .popup {
    width: 95%;
  }
  .ayuda {
    font-size: 1.5vh;
  }
  #nombreUser2 {
    font-size: 1.5vh;
  }
  #nombreUser3 {
    font-size: 2.5vh;
  }
}
