.boton {
  position: absolute;
  bottom: -34px;
  left: 0;
  transform: translate(0, 0);
  background-color: #32414e;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

.boton:hover {
  background-color: #444444;
  color: white;
}

h3{
  font-size: 16px;
  margin: 0 10px;
  color: black
}

.filter-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 10px;
}

.filter-bar-hide {
  transform: translateY(-100%);
}

.filter-bar-show {
  transform: translateY(0);
}

.filter-bar__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-bar__item select {
  width: 150px;
  font-size: 14px;
  color: #444;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-bar-show {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.filter-bar-hide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


@media (max-width: 768px) {
.filter-bar {
  flex-direction: column;
}
.filter-bar__item {
  margin-bottom: 20px;
}
.filter-bar__item select {
  width: 100%;
  margin-bottom: 10px;
}
}
