.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  background-color: rgba(129, 155, 159, 0.737);
  height: 80vh;
  min-width: 300px;
}

.auth-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  color: #333;
  padding: 30px 80px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.auth-button:hover {
  background-color: #57e0a9eb;
  color: #fff;
}

.logoGoogle {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.Bienvenido {
  font-size: 6rem;
}
.Iniciar {
  font-size: 4vw;
}

.loader-gif {
  display: block;
  margin: 16px auto;
  max-width: 100%;
}


@media (max-width: 560px) {
  .Bienvenido {
    font-size: 9vw;
  }
  .Iniciar {
    font-size: 7vw;
  }
}

@media (max-width: 360px) {
  .auth-button {
    font-size: 12px;
  }

  .Bienvenido {
    font-size: 10vw;
  }
  .Iniciar {
    font-size: 8vw;
  }
}


